

    <h4 class="text-white mb-4">Emprtz Admin</h4>

   <a href="/admin/dashboard" class="sidebar-link <%= activePage === 'dashboard' ? 'active' : '' %>">
  <i class="bi bi-speedometer2"></i> Dashboard
</a>

<a href="/admin/users" class="sidebar-link <%= activePage === 'users' ? 'active' : '' %>">
  <i class="bi bi-people"></i> User Management
</a>

<a href="/admin/products" class="sidebar-link <%= activePage === 'products' ? 'active' : '' %>">
  <i class="bi bi-box"></i> Products
</a>

<a href="/admin/categories" class="sidebar-link <%= activePage === 'categories' ? 'active' : '' %>">
  <i class="bi bi-tags"></i> Category
</a>

<a href="/admin/orders-page" class="sidebar-link <%= activePage === 'orders' ? 'active' : '' %>">
  <i class="bi bi-box-seam"></i> Orders
</a>

<a href="/admin/coupons" class="sidebar-link <%= activePage === 'coupons' ? 'active' : '' %>">
  <i class="bi bi-ticket-perforated"></i> Coupons
</a>

<a href="/admin/analytics-page" class="sidebar-link <%= activePage === 'analytics' ? 'active' : '' %>">
  <i class="bi bi-graph-up"></i> Analytics
</a>

